.hidden {
    display: none;
}
$main-color: #333;
$main-font-family: 'arial', 'helvetica', sans-serif;
$main-font-size: 16px;
$main-bg-color: #D6EAF8;
$second-font: 'Times New Roman', Times, serif;

* {
    border: none;
    padding: 0;
    margin: 0;
}